@font-face {
    font-family: lato;
    src: url(~@/style/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: fa;
    src: url(~@/style/fonts/fa-solid-900.ttf);
}

@font-face {
    font-family: 'fa-regular';
    src: url(~@/style/fonts/fa-regular-400.ttf);
}

@font-face {
    font-family: aquire;
    src: url(~@/style/fonts/AquireBold-8Ma60.otf);
}

@font-face {
    font-family: robus;
    src: url(~@/style/fonts/Robus-BWqOd.otf);
}

@font-face {
    font-family: veggy;

    src: url(~@/style/fonts/VeggyPersonalUseSemiExpandedMedium-1GMov.ttf);
}

@font-face {
    font-family: watcher;
    src: url(~@/style/fonts/WatcherPersonalUseBold-BWexB.ttf);
}

@font-face {
    font-family: fluid;
    src: url(~@/style/fonts/FluidBold-lgOEq.ttf);
}
